<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>设置.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E442FB541F668EC400F77278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E442FB6D1F668EC400F77278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E442FB781F668EC400F77278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
